.alive {
    width: 30px;
    height: 30px;
    background-color: coral;
    color: coral;
}
.dead {
    width: 30px;
    height: 30px;
    color: beige;
    background-color: beige;
    fill-opacity: 0;
}
.board {
    margin: 30px;
    width: 300px;
    height: 300px;
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container {
    width: 100%;
    height: 100%;
    align-content: center;
    display: flex;
    justify-content:center;
}

.button {
    margin: 40px;
    float: right;
}
.card-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.score-display {
    font-size: 18px;
}
.direction-display {
    font-size: 18px;
}